* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-color: #080808;

    text-align: center;
    background-image:
    url(https://media.istockphoto.com/id/831288314/photo/halloween-celebration.jpg?s=612x612&w=0&k=20&c=v-ObS0CeEQOlRndCok1nDeqiNrYBvo3QeSLUl2s5_Mo=);
}






header {
    margin: 5px;
    padding: 5px;
    margin-top: 10px;
}

h1 {
    color: #FFF8Dc 
    
}

h2 {
    color: #0066CC;
    padding: 5px;
    margin-top: 10px;
}

p {
    color:  #ee12d8;
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
}

.pai {
    display: block;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px;
}

.main {
    display: block;
    padding: 10px;
    margin-top: 10px;
}

h3 {
    color: red;
    padding: 10px;
    margin-top: 10px;
}

.post {
    color: rgb(253, 252, 253);
    padding: 10px;
    margin-top: 10px;
}

.logo {
    color: rgb(20, 1, 20);
    padding: 10px;
    margin-top: 10px;
}

.modo {
    margin-top: 10px;
    padding: 10px;
}

.liga {
    display: block;
    justify-content: space-around;

}

